<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <style type="text/css" media="screen">
      p {
	  text-indent: 0;
	  margin-bottom: 10px;
      }
      blockquote {
	  margin-top: 10px;
	  margin-bottom: 15px;
      }
    </style>    
  </head>
  <body>
    <%= body_html %>
  </body>
</html>
